* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: #181823 1px solid; */
}

/* Variables de color */
:root {
    --primary: #FC7300;
    --secondary: #00425A;
    --negro: #181823;
    --celeste: #1F8A70;
    --blanco: #EFF5F5;

}

/* Estilos del header */
header {
    width: 100%;
    height: 3rem;
    background-color: var(--secondary);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    border-bottom:var(--primary) 1px solid;
}
nav {
    display: flex;
    justify-content: center;
    width: 100% ;
}
nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.2rem;
    list-style: none;
}
nav ul li {
    display: flex;
    align-items: center;
    text-align: center;
    width: 2.8rem;
}
nav ul li a {
    text-decoration: none;
    color: var(--blanco);
    font-size: 0.45rem;
    font-weight: 700;
}

/* Estilos main */

.titulo {
    width: 100%;
    height: 12rem;
    background-image: url(../img/titulo.jpg);
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary) ;
    font-family: 'Belanosima', sans-serif;
    margin-bottom: 0.5rem;
}

h1 {
    background-color: #201e1e;
    opacity: 70%;
    border-radius: 6px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.info {
    margin: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.info-text {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align:justify;
    border-radius: 10px;
    background-color: var(--celeste);
    gap: 0.5rem;
}
.info-text img {
    width: 100%;
    border-radius: 10px;
}

.info-text2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.info-text2 h2 {
    width: 100%;
    font-family: 'Belanosima', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    text-decoration: underline;
    text-align: center;
    color: var(--negro);
}

.info-text2 p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.6rem;
    font-weight: 500;
    color: var(--negro);
}

.info-text2 div {
    width: 100%;
    display: flex;
}

.info-text .propuesta {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
}

.octogono {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: var(--negro);
    clip-path: polygon(50% 0%, 100% 15%, 100% 85%, 50% 100%, 0% 85%, 0% 15%);
    padding: 0.5rem;
    text-align: center;
    border: 6px solid var(--negro);
}

.cont-noticias {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--negro);
}

.cont-noticias h2 {
    padding: 1rem;
    font-family: 'Belanosima', sans-serif;
    font-size: 1.5rem;
    color: var(--blanco);
    
}

.not-panel {
    width: 100%;
    padding: 1rem;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    background-color: var(--primary);
}

.noticia {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    gap: 0.5rem;
}

.noticia h3 {
    font-family: 'Belanosima', sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
    text-decoration: underline;
    color: var(--negro);
}

.noticia p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.6rem;
    font-weight: 500;
    color: var(--negro);
}

/* Estilos footer */

footer {
    padding: 1rem 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    background-color: var(--negro);
    
}

.cont-footer, .footer-contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;  
}

.cont-footer .tit, .footer-contacto .tit{
    font-family: 'Belanosima', sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--blanco);
}

.cont-footer div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.cont-footer img{
    width: 2rem;
    height: 2rem;
}

.cont-footer iframe{
    width: 90%;
}

.footer-contacto div {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
}
.footer-contacto a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--primary);
}

/* Pantallas mayores a 768px */
@media(width>768px){
    nav ul li a {
        font-size: 0.8rem;
    }
    .titulo {
        height: 20rem;
        background-size:cover;
        font-size: 2rem;
    }
    .info {
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
    .info img {
        height: 9rem;
    }
    .info-text2 {
        margin-top: 0rem;
    }
    .info-text2 p {
        font-size: 0.7rem;
        align-self: center;
    }
    .info-text2 div{
        flex-direction: column;
        gap: 0.5rem;
    }
    .propuesta p {
        font-size: 1rem;
        font-weight: 700;
        color: var(--blanco);
    }
    .octogono {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%, 0% 15%);
        border: 2px solid var(--secondary);
        border-radius: 10px;
        background-color: var(--negro);
    }
    .not-panel {
        flex-direction: row;
        align-items: start;
    }
    .noticia {
        width: 45%;
    }
    .noticia p{
        font-size: 0.8rem;
    }
    .footer-contacto div{
        flex-direction: row;
        justify-content:space-evenly;
    }
    .footer-contacto a{
        width: 19rem;
    }
}

/* Pantallas mayores a 1200px */
@media(width>1200px){
    nav ul{
        justify-content: space-evenly;
    }
    nav ul li {
        width: 12rem;
    }
    nav ul li a{
        width: 100%;
        font-size: 1rem;
    }
    .container{
        margin: 1.5rem 0rem;
    }
    .titulo {
        height: 25rem;
    }
    .info {
        margin: 0rem 1rem;
        gap: 2rem;
    }
    .info-text img {
        height: 14rem;
    }
    .info-text h2{
        font-size: 2rem;
    }
    .info-text p {
        font-size: 1.1rem;
    }
    .propuesta p {
        font-size: 1.5rem;
    }
    .info-text2 {
        gap: 2rem;
    }
    .cont-noticias h2 {
        font-size: 2.5rem;
    }
    .noticia h3 {
        font-size: 2rem;
    }
    .noticia p {
        font-size: 1rem;
    }
    footer {
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
    .cont-footer, .footer-contacto {
        width: 30%;
        padding: 1rem;
        border: var(--blanco) 1px solid;
        justify-content: start;
    }
    .cont-footer .tit, .footer-contacto .tit {
        font-size: 2rem;
        text-decoration: underline;
    }
    .cont-footer img{
        width: 4rem;
        height: 4rem;
    }
    .redes-link {
        position: relative;
        top: 7rem;
    }
    .footer-contacto div {
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 4rem;
        gap: 3rem;
    }
    .footer-contacto div a{
        font-size: 1.2rem;
    }
}